<section class="card mx-auto col-md-5">
  <div class="card-body">
    <h1 class="text-center p-2">About</h1>
    <p class="lead text-justify">Hi i'm Francisco Castañeda, a self-taught front-end developer highly
      passionate and professional. My passion has always been software
      development, but above all, that it has an attractive design, that hooks
      whoever uses it. If you are interested in working with me or hiring me,
      you can contact me through my email or my social networks. I'm excited
      that we create the applications of the future!.</p>
  </div>
</section>