<div class="jumbotron mt-1">
    <h1 class="display-5 d-flex">Notes App Nodejs and Mongodb</h1>
    <p class="lead">A simple App to manage notes developed with Nodejs, Express, Mongodb and Javascript Technologies</p>
    <hr class="my-4">
    <p class="lead">In this application, we can appreciate the use of user registration and login, protection of routes by authentication, password encryption, practical use of handlebars, use of environment variables, data modeling, data management with a pleasant visual design based on Boostrap. For more information please visit my portfolio at the following link:</p>
    <a href="https://francsilva03.github.io/facs01/" target="_blank" role="button" class="btn btn-primary btn-lg">Francisco Castañeda</a>
</div>