{{#if error}}

  <div
    class="d-flex justify-content-between alert alert-danger alert-dismissible fade show"
    role="alert"
  >

    {{error}}
    <button
      type="button"
      class="btn btn-success btn-sm d-flex"
      data-bs-dismiss="alert"
      aria-label="Close"
    >close</button>
  </div>
{{/if}}

{{#each errors}}

  <div
    class="d-flex justify-content-between alert alert-danger alert-dismissible fade show"
    role="alert"
  >

    {{text}}
    <button
      type="button"
      class="btn btn-success btn-sm d-flex"
      data-bs-dismiss="alert"
      aria-label="Close"
    >close</button>
  </div>
{{/each}}